// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    margin: 0;
    padding: 0
}

h1.header {
    margin: 0px auto;
}

div.childLeft {
    float:left;
    padding-left: 25%;
}
div.childRight {
    float:right;
    padding-right: 25%;
}

div.secondRow {
    padding-top: 50px;
}

div.login {
    left: 98%;
    transform: translate(-98%, 0);
    margin-right: 25px;
    margin-top: 25px;
}

.btn-default {
}

.input {
    width: 400px;
    left: -25%;
    transform: translate(25%, 0);
}

div.thirdRow {
    padding-top: 10px;
}

div.background {
    background-image: url('../assets/BackgroundLg.jpeg');
    background-position: center;
    background-size: 100%;
    margin: 0px auto;
    padding: 0px;
    height:100vh;
    background-repeat: no-repeat;
    background-color: black;
}

div.surrounding{
    padding-top: 150px;
    position: relative;
}

div.boxInfo{
    margin: 0px auto;
    padding-top: 0px;
    height: 250px;
    width: 600px;
    text-align: center;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

div.middleBox {
    background-color: white;
    border-radius: 25px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
