// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.devisePages{
    padding-left: 25px;
    padding-top: 10px;
    background-image: url('../assets/BackgroundLg.jpeg');
    background-position: center;
    background-size: 100%;
    margin: 0px auto;
    height:100vh;
    background-repeat: no-repeat;
    background-color: black;
    color:white;

};

div.actions {
  color:black;
  padding-top:5px;
  border: none;
  border-radius:15px;
};

div.field{
  padding-bottom:5px;
  color:black;
}
button {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Stuff for the user home page */
a.normalizedLinks{
    color: #333;
    text-decoration: none;
}

a.normalizedLinks:hover {
    color:#333;
};

a.normalizedLinks:visited {
    color:#333;
};

div.profileInformation {
    background-color: white;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.return {
    padding-top: 15px;
    padding-right: 25px;
    float: right;
}
.accountHeader {
    padding-top: 15px;
    padding-left: 25px;
}

div.accountPosts{
    padding-left: 25px;
    padding-right: 25px;
}

p.postRating {
    float:right;
    font-size: 20px;
}
p.username {
    font-size: 20px;
}
