<%

# Convert types ActiveRecord to an array, and sort by it's type
@types = @types.to_a.sort! { |a, b| a.ftype <=> b.ftype }

buildings = [
    'Dreese',
    'Caldwell',
    'Scott',
]
#buildings = ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']
#TODO - Allow scroll instead of extension

buildings.sort!

%>

<div class='background'>
    <div class='surrounding'>
        <div class='middleBox boxInfo'></div>
        <div class='boxInfo'>

            <h1 class='header'>Welcome to FaciliRate</h1>
            <br/>
            <%= form_tag("/result/showResult", method: "get") do %>
            <% typeShow = @types.map { |val| val.ftype } %>
            <div class='childLeft'>
                <div class="dropdown">
                  <%= select_tag(:facility, options_for_select(typeShow)) %>
                </div>
            </div>

            <div class='childRight'>
                <div class="dropdown">
                  <%= select_tag(:building, options_for_select(buildings)) %>
                </div>
            </div>
            <%= submit_tag("Search") %>

            <% end %>


           
        </div>
        </div>
    </div>
</div>
