

    <div class='return'>
        <%= link_to("Return Home", '/home/index', class:"btn btn-default") %>
    </div>

    <h3>You must be logged in to view that page.</h3>
    <div class="btn-group">
        <%= link_to("Login/Sign Up", '/users/sign_in.html', class:"btn btn-default") %>
    </div>
