<form action="/facility" method="POST">
    <%= @rooms %>
    <!-- TODO:
    - Validate all these things
    - Make the building name and room number auto complete
    - Get facility types via model and make facility type a drop down
    - Fix look and feel to match home page by using bootstrap
    -->
    Building name: <input type="text" name="building" />
    <br />
    Room number: <input type="text" name="building" />
    <br />
    Facility type: <input type="text" name="building" />
    <br />
    <button type="submit">Submit</button>
</form>
